body{
    margin: 0;
    padding: 0;
    background-color: rgba(183, 0, 0, 0.8);
}

/*Header*/
.header{
    color: white;
    font-size: 20px;
    padding: 30px 15px;
    margin: 0 auto;
    border-bottom: 10px solid rgba(122, 0, 0, 0.8);
    background-color: #2e2e2e;
}

/*Barra de Navegación*/
.navbar{
    width: 100%;
    max-width: 960px;
    background-color: #111;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 auto;
}

ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

li{
    float: left;
    padding: 15px 45px;
}

a{
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover{
    background-color: rgba(180, 0, 0, 0.8);
    border-radius: 5px;
}

/*Se encarga del contenido del HTML*/

.contenedor{
    padding: 0;
    margin: 50px auto 0;
    width: 960px;
    background-color: white;
    border: 10px;
    
}

.justificar{
    text-align: justify;
    font-size: larger;
}

.centrar{
    text-align: center;
}

.contenido{
    padding: 10px;
    border-color: black;
    border-style:double;
    border-width: 10px;   
}
.espacio{
    background-color: rgba(183, 0, 0, 0.8);
}

/*Se encarga del Footer*/

footer{
    border-style:double;
    border-width: 10px;   
}